# dbt artifacts
target/
dbt_packages/
logs/

venv/
__MACOSX/
*.sql

# Profiles (Contient tes identifiants DB - TRÈS IMPORTANT)
profiles.yml

# OS files
.DS_Store







# Données et Logs
plugins/
dbt_modules/
dbt_packages/

# Environnement et Secrets
.env
__pycache__/
venv/
*.db

# Docker volumes
mnt/